body
{
	background-color: rgb(0,0,0);
	color: rgb(100,0,200);
	font-family: "Aldrich", monospace;
}
.hidden
{
	display: none;
}
.visible
{
	display: block; //Used for random sainity checks
}
button
{
	background-color: rgb(10,10,10);
	color: rgb(100,0,200);
	border: 2px solid rgb(30,30,30);
}
button:hover
{
	background-color: rgb(30,30,30);
}
input
{
	background-color: rgb(10,10,10);
	color: rgb(100,0,200);
	border: 2px solid rgb(30,30,30);
}
input:hover
{
	background-color: rgb(30,30,30);
}
/*
div
{
	background-color: rgba(100,100,100,0.3);
	color: rgb(150,0,250);
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
}

*.title
{
	text-align: center;
}

div.left
{
	display: block;
	float: left;
}

div.right
{
	display: block;
	float: right;
}

div.wa
{
	width: auto;
}

div.w0
{
	width: 10%;
}

div.w1
{
	width: 22%;
}

div.w2
{
	width: 47%;
}

div.w3
{
	width: 72%;
}

div.w4
{
	width: 95%;
}

div.w5
{
	width: 100%;
}
*/
